.recycle_selectBox{
	margin-top: 30px;
}
.recycle_select{
	position: static;
}
.select_bar{
	position: static;	
}
.left_select_bar{
	position: static;
	float: left;
	margin: 30px 60px;
}

.dropdown-menu{
	left: -20px;
}

.search_result{
	clear: both;
	height: 24px;
	margin-top: 20px;
	padding-left: 60px;
	text-align: left;
	font-size: 14px;
}
.sr_color{
	color: #4cb6cb;
}
.btn-group > .btn{
	float: none;
}

.clearData{
	clear: both;
	height: 38px;
	margin-top: 40px;
	padding-left: 60px;
	text-align: left;
}
.cd_btn{
	width: 180px;
	height: 36px;
	border: 1px solid #f1517a;
	border-radius: 4px;
	background-color: #fff;
	font-size: 16px;
	color: #f1517a;
	transition: all 200ms;
}
.cd_btn:hover{
	background-color: #f1517a;
	color: #fff;
}

/***********作品列表页面**********/
.wlBox{
	clear: both;
	position: relative;
	margin-top: 70px;
	padding: 0 30px 0 60px;
	text-align: left;
}
.wl_lists{
	position: relative;
	top: 0;
	display: inline-block;
	width: 354px;
	height: 430px;
	margin: 30px 30px 0 0;
	background-color: #fff;
	transition: all 500ms ease;
	font-size: 14px;
}
.wl_lists:hover{
	box-shadow: 0 5px 40px rgba(76, 182, 203, 0.4);
	top: -1px;
}
.wll_imgBox{
	width: 354px;
	height: 260px;
	margin-bottom: 10px;
	overflow: hidden;
}
.wll_img{
	width: 354px;
}
.wll_line{
	width: 315px;
	height: 22px;
	line-height: 20px;
	padding-left: 20px;
	font-size: 14px;
	color: #596268;
	overflow:hidden;
	text-overflow:ellipsis;
	white-space:nowrap;
}

.checkbox{
	position: absolute;
	top: 270px;
	right: 10px;
	display: block;
	width: 15px;
	height: 15px;
	margin: 0;
	padding: 1px;
	border: 1px solid #8d8d8d;
}
.checkbox > div{
	width: 11px;
	height: 11px;
}
.checkbox input[type=checkbox]{
	margin: 0;
	display: none;
}
.cb_checked{
	background-color: #ea0001;
}

.wll_btn{
	width: 90px;
	height: 30px;
	padding: 0;
	margin: 10px 0 0 56px;
	border: 2px solid #4cb6cb;
	border-radius: 4px;
	line-height: 26px;
	text-align: center;
	color: #4cb6cb;
	font-size: 14px;
	background-color: #fff;
	transition: all 200ms;
}
.wll_btn_del{
	color: #f1517a;
	border-color: #f1517a;
}
.wll_btn:hover{
	background-color: #4cb6cb;
	color: #fff;
}
.wll_btn_del:hover{
	background-color: #f1517a;
	color: #fff;
}
.wll_btn_selected{
	background-color: #4cb6cb;
	color: #fff;
	cursor: default;
	border-color: #4cb6cb;
}
/***********作品列表页面 END**********/

.modal_del{
	display: none;
}


/*******资讯列表页面************资讯列表页面***************资讯列表页面*************/
/**********列表页类表格样式*********/
.likeTable{
	clear: both;
	width: 1550px;
	min-width: 1360px;
	margin: 30px 30px 60px 70px;
}
.lt_title_ul{
	width: 100%;
	height: 40px;
	text-align: left;
}
.lt_title_ul > li{
	display: inline-block;
	margin-right: -4px;
	line-height: 40px;
	font-size: 14px;
	color: #656f71;
	text-align: center;
}
.lt_conts{
	position: relative;
	height: auto;
	min-height: 60px;
	margin-bottom: 8px;
	background-color: #fff;
}

.ltc_w_title{width: 450px;}
.ltc_w_status{width: 6%;min-width: 60px;}
.ltc_w_cls{width: 14%;min-width: 180px;}
.ltc_w_upload{width: 6%;min-width: 60px;}
.ltc_w_time{width: 12%;min-width: 180px;}
.ltc_w_ctrl{width: 240px;}

.unfold,
.shrink{
	position: absolute;
	right: 30px;
	top: -2px;
	display: block;
	padding: 0 10px;
	line-height: 60px;
	font-size: 40px;
	color: #4cb6cb;
	cursor: pointer;
}
.shrink{
	top: -4px;
	display: none;
	font-size: 60px;
}

.lt_child_conts{
	position: absolute;
	clear: both;
	visibility: hidden;
	overflow: hidden;
}
.ltc_li,
.ltcc_li{
	position: relative;
	display: block;
	float: left;
	height: 60px;
	line-height: 60px;
	text-align: center;
	overflow:hidden;
	text-overflow:ellipsis;
	white-space:nowrap;
	font-size: 14px;
}

/****操作按钮****/
.ltc_ctrl,
.ltcc_ctrl{
	text-align: right;
	font-size: 16px;
	color: #4cb6cb;
}
.ltc_ctrl > a,
.ltcc_ctrl > a{
	color: #4cb6cb;
	margin-right: 30px;
	cursor: pointer;
}
.ltc_ctrl > .ltc_del,
.ltcc_ctrl > .ltc_del{
	color: #f1517a;
}
.ltc_del:hover{
	text-decoration: underline;
}

.ltc_title,
.ltcc_title{
	float: left;
	display: block;
	width: 360px;
	padding-left: 20px;
	font-size: 16px;
	color: #4cb6cb;
	text-align: left;
	overflow:hidden;
	text-overflow:ellipsis;
	white-space:nowrap;
}
.ltc_title:hover,.ltcc_title:hover{color: #4cb6cb;}
.ltc_child_ul{
	clear: both;
	height: 60px;
	border-top: 1px dashed #a9adb2;
	background-color: #fff;
}

/**********列表页类表格样式 END*********/

/***********专题列表页面**********/
.slBox{
	position: relative;
	width: 100%;
	margin: 0px 60px 30px;
	text-align: left;
}
.sl_lists{
	position: relative;
	top: 0;
	display: inline-block;
	width: 400px;
	height: 310px;
	margin: 30px 30px 0 0;
	background-color: #fff; 
	transition: all 400ms;
}
.sl_lists:hover{
	box-shadow: 0 5px 40px rgba(76, 182, 203, 0.4);
	top: -1px;
}
.sll_imgBox{
	width: 400px;
	height: 170px;
	margin-bottom: 6px;
	overflow: hidden;
}
.sll_img{
	width: 400px;
}
.sll_line{
	width: 100%;
	height: 20px;
	line-height: 20px;
	padding: 0 20px;
	font-size: 14px;
	color: #596268;
	overflow:hidden;
	text-overflow:ellipsis;
	white-space:nowrap;
	text-align: left;
}
.sll_btn{
	width: 90px;
	height: 30px;
	padding: 0;
	margin: 12px 0 0 75px;
	border: 2px solid #4cb6cb;
	border-radius: 4px;
	line-height: 26px;
	text-align: center;
	color: #4cb6cb;
	font-size: 14px;
	background-color: #fff;
	transition: all 200ms;
}
.sll_btn_del{
	color: #f1517a;
	border-color: #f1517a;
}
.sll_btn:hover{
	background-color: #4cb6cb;
	color: #fff;
}
.sll_btn_del:hover{
	background-color: #f1517a;
	color: #fff;
}

.modal_del{
	display: none;
	position: fixed;
	top: 30%;
	left: 35%;
	width: 400px;
	height: 230px;
	border-radius: 4px;
	box-shadow: 0 0 10px rgba(0,0,0,0.5);
	background-color: #fff;
	overflow: hidden;	
}
.md_title{
	height: 50px;
	line-height: 50px;
	padding-left: 20px;
	font-size: 18px;
	font-weight: bold;
	color: #fff;
	background-color: #2c3942;
}
.md_cont{
	height: 180px;
	margin: 0 55px;
	padding-top: 36px;
}
.md_text{
	font-size: 16px;
	color: #656f71;
	line-height: 24px;
}
.md_btns{
	position: absolute;
	bottom: 40px;
	left: 0;
	width: 100%;
	text-align: center;
	/*margin-top: 24px;*/
}
.md_btn{
	width: 98px;
	height: 32px;
	margin: 0 9px;
	border-radius: 4px;
	background-color: #4cb6cb;
	color: #fff;
	font-size: 14px;
	transition: all 200ms;
}
.md_btn:hover{
	background-color: #4096a7;
}
/***********专题列表页面 END**********/
/*******资讯列表页面************资讯列表页面***************资讯列表页面*************/


/*******用户列表页面************用户列表页面***************用户列表页面*************/
/****四个操作按钮****/
.wll_btn{
	width: 90px;
	height: 30px;
	padding: 0;
	margin: 10px 10px 0;
	border: 2px solid #4cb6cb;
	border-radius: 4px;
	line-height: 26px;
	text-align: center;
	color: #4cb6cb;
	font-size: 14px;
	background-color: #fff;
	transition: all 200ms;
}
.wll_btn_del{
	color: #f1517a;
	border-color: #f1517a;
}
.wll_btn:hover{
	background-color: #4cb6cb;
	color: #fff;
}
.wll_btn_del:hover{
	background-color: #f1517a;
	color: #fff;
}
.wll_btn_selected{
	background-color: #4cb6cb;
	color: #fff;
	/*cursor: default;*/
	border-color: #4cb6cb;
}
/****四个操作按钮 END****/


.ul_ctrlGroup{top: 85px;}
.ul_list{
	position: relative;
	float: left;
	width: 440px;
	height: 190px;
	padding: 15px;
	margin: 30px 20px 0 0;
	border: 1px solid #959aa4;
	background-color: #fff;	
}
.ull_left{
	float: left;
	width: 120px;
	height: 160px;
	line-height: 170px;
	margin-right: 10px;
	text-align: center;
}
.ull_right{
	float: right;
	width: 275px;
}
.ull_imgBox{
	display: block;
	width: 120px;
	height: 120px;
	line-height: 110px;
	margin-top: 22px;
	border-radius: 50%;
	overflow: hidden;
}
.ull_imgBox > img{
	width: 120px;
}
.ull_line{
	width: 275px;
	line-height: 22px;
	font-size: 14px;
	color: #596268;
	text-align: left;
	overflow:hidden;
	text-overflow:ellipsis;
	white-space:nowrap;
}
.ull_userName,
.ull_userName:hover{
	color: #d1305a;
}
.paging_box{
	clear: both;
}


.checkWindow{
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 860px;
	background-color: #f3f4f8;
}
/*******用户列表页面************用户列表页面***************用户列表页面*************/
