<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<title>修改密码</title>
	<!-- 设置 viewport -->
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- IE  -->
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<!-- 兼容国产浏览器的高速模式 -->
	<meta name="renderer" content="webkit">
	<link href="../../Content/admin/commonMain.css" rel="stylesheet">
	<link href="../../Content/admin/modifyPassword.css" rel="stylesheet">
</head>
<body ng-app="myApp" ng-controller="parentCtrl">
    <div ng-cloak class="main">
    	<form name="myform">
    		<p>
		    	<span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;原密码：</span>
		    	<input type="password" name="oldPwd" id="oldPwd" ng-model="oldPwd" placeholder="请输入当前密码" autofocus="true" required />
	    	</p>
	    	<p>
	    		<span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;新密码：</span>
	    		<input type="password" name="pwd" id="pwd" ng-model="pwd" placeholder="大于6位的字母与数字组合" ng-pattern="/^(?![0-9]+$)(?![a-zA-Z]+$)[\w]{6,}$/" required />
	    		<span class="tip" ng-show="myform.pwd.$dirty && myform.pwd.$invalid">大于6位的字母与数字的组合</span>
	    	</p>
	    	<p>
	    		<span>确认新密码：</span>
	    		<input type="password" name="rePwd" id="rePwd" ng-model="rePwd" placeholder="请再次确认您的新密码" required />
	    	</p>
	    	<p class="tips_box">
	    		<span class="tips" ng-hide="equalFun()">新密码与确认密码不一致</span>
	    		<span style="color: #4CB6CB;" class="tips" ng-hide="submitResponse">密码修改成功</span>
	    		<span class="tips" ng-hide="erroResponse">{{erroMessage}}</span>
	    	</p>
	    	<div class=btns>
		    	<button id="login" ng-click="submitFun()">确认修改</button>
	    	</div>
    	</form>
    </div>
    <!-- 引入jQuery -->
	<script src="../../Scripts/jquery-1.10.2.min.js"></script>
	<script src="../../Scripts/angular.min.js"></script>
	<script src="../../Scripts/admin/adminGlobal.js"></script>
	<script src="../../Scripts/admin/modifyPassword.js"></script>
</body>
</html>